.home {
  .search-container {
    background-color: #fff;
    padding: 2.2em 0;
  }

  .content {
    margin: 2em auto;
    width: 90%;
    display: flex;
    gap: 2em;

    .filters {
      width: 30%;
    }

    .ticket-list{
      width: 70%;
    }
  }
}