.ticket {
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .ticket-details {
    padding: 2em 3em;
    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }
  }
}