.type-of-property {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 1em;
  .types {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .4em;

    .type-button {
      display: flex;
      gap: .5em;
      align-items: center;
      cursor: pointer;
      color: #CED2DB;
      padding: 8px;
      border: 1px solid #d4d8df;
      font-weight: 450;
      font-size: .9em;
      &.active {
          color: #4070F4;
          border-color: #4070F4;
      }
    }
  }
}