.header {
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    padding: 25px 0;

    .header-content {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;

            .dollar-exchange-rate {
                border-right: 1px solid #f4f4f4;
            }

            .log-in-button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
                cursor: pointer;

                &-label {
                    color: #4070F4;
                    font-weight: 700;
                }
            }
        }
    }
}