.stars-of-property {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 1em;

  .stars {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    text-wrap: avoid;
    gap: .7em;

    .star-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #CED2DB;
      padding: 4px;
      border: 1px solid #d4d8df;
      font-size: .9em;
      .quantity {
        margin-left: 8px;
      }
    }
  }
}